{% extends 'base.html.twig' %}

{% block title %}Series catalogue{% endblock %}

{% block body %}
    <style>

        @media (-webkit-min-device-pixel-ratio: 2) {
            .contains {
                justify-content : center;
            }

            
            h1 {
                font-size: 40px;
                text-align: center;
            }

            .col-2_4 {
                width: 120px;
            }

            .col-2_4 a {
                width: 140px !important;
                font-size: 15px;
            }

            img {
                width: 140px !important;
                height: 150px !important;
            }
        }

        .col-2_4,
        .col-sm-2_4,
        .col-md-2_4,
        .col-lg-2_4,
        .col-xl-2_4 {
            width: 100%;
            min-height: 1px;
            display: flex;
            flex-direction: column;
        }
        .col-2_4 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
        }
        .col-2_4 a{
            text-align: center;
            width: 300px;
        }
        img{
            width: 300px;
            height: 400px;
        }
        
        .contain{
            margin-left: 5%;
            margin-right: 5%;
            padding: 15px;
            padding-top: 5px;
            padding-bottom: 15px;
            border-radius: 5px;
            background-color: rgba(0,0,0,0.5);
        }
        
        h1 {
            color: white;
            margin: 30px;
        }

        form{
           margin-left : 30px; 
        }

        #series-clr{
            color: #c82333;
        }
            
        #series-clr:hover{
            font-weight: bold;
        }

        label {
            color: white;
        }

        .container {
            width: 100%;    
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;

        }

        .research-form {
            display: flex;
            width: 100%;
            align-items: center;
            margin-bottom: 40px;
            justify-content: end;

        }

        form {
            width: 100%;
            margin: 0;
        }


    </style>
    <div class="contain">
    <h1>Découvrir</h1>
    <div class="container">
        <div class="research-form">
            <form action="" method="GET">
                    <input type="text" name="initiale" placeholder="Titre"/>
                    <input type="text" name="annee" placeholder="Date de diffusion"/>
                    <select name="genre">
                        <option value="">--choisissez un genre--</option>
                        {% for genres in genre %}
                        <option value="{{ genres.name }}"> {{ genres.name }} </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Rechercher"/>
            </form>
        </div>
    </div>
        <div class="row ligne_theme">
            {% for series in series %}
                    <div class="col-2_4">
                        <img src={{path('app_accueil_poster',{'id':series.id})}}>
                        <a href="{{ path('app_series_show', {'id': series.id, 'season': '1'}) }}" class="btn btn-secondary btn-lg" role="button" aria-disabled="true">{{ series.title }}</a>
                    </div>
            {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            {% endfor %}
            {{ knp_pagination_render(series) }}
                
        </div>
    </div>
{% endblock %}
