{% extends 'base.html.twig' %}

{% block title %}Series catalogue{% endblock %}

{% block body %}
    <style>

        @media (-webkit-min-device-pixel-ratio: 2) {
            .contains {
                justify-content : center;
            }
            
            
            h1 {
                font-size: 85px;
                text-align: center;
            }

            .form-control{
                font-size: 45px;
                width: 500px;
            }

            .research-form {
                justify-content:center !important;
            }

            .pagination a, .current{
                color: white;
                font-size: 30px;
                padding: 20px !important;
                margin: 6px !important;
                border: 1px solid #6c757d;
                border-radius: 10px !important;
                background: #6c757d;
                transition: 0.2s;
                text-decoration: none;
            }

            .pagination a:hover{
                border: 1px solid #545b62;
                background: #545b62;
                transition: 0.2s;
            }

            .pagination{
                justify-content: center;
            }

            .row {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
            }
            
            .col-2_4{
                display: flex;
                flex-direction: column;
                margin: 0 100px 100px 100px !important;
            }

            .col-2_4 a{
                font-size: 30px !important;
                width: 350px !important;
            }

            img{
                width: 350px !important;
                height: 520px !important;
            }
        }

        .col-2_4 {
            width: 100%;
            min-height: 1px;
            display: flex;
            flex-direction: column;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
        }
        .col-2_4 a{
            text-align: center;
            width: 300px;
        }

        img{
            width: 300px;
            height: 400px;
        }
        
        .contain{
            margin-left: 5%;
            margin-right: 5%;
            padding: 15px;
            padding-top: 5px;
            padding-bottom: 15px;
            border-radius: 5px;
            background-color: rgba(0,0,0,0.5);
        }
        
        h1 {
            color: white;
            margin: 30px;
        }

        form{
           margin-left : 30px; 
        }

        #series-clr{
            color: #c82333;
        }
            
        #series-clr:hover{
            font-weight: bold;
        }

        .pagination a, .current{
            color: white;
            padding: 10px;
            margin: 3px;
            border: 1px solid #6c757d;
            border-radius: 4px;
            background: #6c757d;
            transition: 0.2s;
            text-decoration: none;
        }

        .pagination a:hover{
            border: 1px solid #545b62;
            background: #545b62;
            transition: 0.2s;
        }

        label {
            color: white;
        }


        .research-form {
            display: flex;
            width: 100%;
            align-items: center;
            margin-bottom: 40px;
            justify-content: start;
        }

        form {
            margin: 0;
        }

        form input, form select {
            margin-bottom: 5px;
        }


    </style>
    <div class="contain">
    <h1>Découvrir</h1>

        <div class="research-form">
            <form action="" method="GET">
                    <input class="form-control" type="text" name="initiale" placeholder="Titre"/>
                    <input class="form-control" type="text" name="annee" placeholder="Date de diffusion"/>
                    <select class="form-control" name="genre">
                        <option value="">Genre</option>
                        {% for genres in genre %}
                        <option value="{{ genres.name }}"> {{ genres.name }} </option>
                        {% endfor %}
                    </select>
                    <input class="form-control btn-secondary btn-lg" type="submit" value="Rechercher"/>
                   

            </form>
        </div>

        <div class="row ligne_theme">
            {% for series in series %}
                    <div class="col-2_4">
                        <img src={{path('app_accueil_poster',{'id':series.id})}}>
                        <a href="{{ path('app_series_show', {'id': series.id, 'season': '1'}) }}" class="btn btn-secondary btn-lg" role="button" aria-disabled="true">{{ series.title }}</a>
                    </div>
            {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            {% endfor %}
               
        </div>

        <!--
        <h1>Séries suivies</h1>

        <div class="row ligne_theme">
            {% for series in seriesSuivies %}
                    <div class="col-2_4">
                        <img src={{path('app_accueil_poster',{'id':series.id})}}>
                        <a href="{{ path('app_series_show', {'id': series.id, 'season': '1'}) }}" class="btn btn-secondary btn-lg" role="button" aria-disabled="true">{{ series.title }}</a>
                    </div>
            {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            {% endfor %}   0
        </div>
        -->
        {{ knp_pagination_render(series) }} 
    </div>
{% endblock %}
