{% extends 'base.html.twig' %}

{% block title %}Series{% endblock %}

{% block body %}
    <style>
        *{
            color: white;
        }

        .contain{
            margin-left: 5%;
            margin-right: 5%;
            padding: 15px;
            padding-top: 5px;
            padding-bottom: 15px;
            border-radius: 5px;
            background-color: rgba(0,0,0,0.5);
            display: flex;
            flex-direction: column;
        }

        h1 {
            color: white;
            margin: 30px;
        }
        
        .ecart {
            margin-left : 30px;
        }

        img{
            width: 300px;
            height: 400px;
        }
    </style>

    <div class="contain">
        <h1>{{ series.title }}</h1>
        <div class="ecart">

            <p> Série • {{ series.yearStart }} - {{ series.YearEnd }} • {{ series.awards }}</p>
            <div class="media">
                {{ series.showPoster }}
                
                {% set youtubeLink = series.YoutubeTrailer|split('v=') %}
                        <iframe width="100%" height="400" src= "https://www.youtube.com/embed/{{youtubeLink[1]}}" title="YouTube" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-left: 25px;"></iframe>
            </div>

                <br>
            <div class="description">
                {{ series.plot }}
            </div>

                <br>
                {% for genre in series.genre %}
                    {{ genre.name }}
                {% endfor %}

            <h2> Saisons </h2>
            
                {% for seasons in seasons %}
                    <a href="{{ path('app_series_show', {id : series.id, season : seasons.number})}}" class="btn btn-secondary btn-lg" role="button" aria-disabled="true">
                        {{ seasons.number }}
                    </a>
                {% endfor %}                
                
            <br>
            <br>

            <h2> Episodes </h2>

            <ol>  
                {% for episodes in episode %}
                    <li>
                        {{ episodes.title }}
                    </li>
                {% endfor %}
            </ol>  
        </div>
        <a href="{{ path('app_series_index') }}" class="btn btn-secondary btn-lg" role="button" aria-disabled="true">Retour</a>
        
    </div>
{% endblock %}
