{% extends 'base.html.twig' %}

{% block title %}Series{% endblock %}

{% block body %}
    <style>

        @media (-webkit-min-device-pixel-ratio: 2) {
            h1 {
                font-size: 75px;
                text-align: center;
            }

            p {
                font-size: 30px;
                margin-left: 10%;
                margin-right: 10%;
            }

            .ecart {
                margin: 0 !important;
            }

            .media {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                height: 1600px;
            }

            img {
                margin-top: 20px;
                width: 750px !important;
                height: auto !important; 
            }

            .description {
                font-size: 35px;
                margin-left: 10%;
                margin-right: 10%;
                margin-bottom: 20px;
            }

            .follow {
                display: flex;
                justify-content: center;
            }
            
            .follow .btn {
                font-size: 50px !important;
            }

            .follow .bi {
                width: 45px;
                height: 45px;
            }

            h4 {
                font-size: 28px;
                text-align: center;
            }

            .saisons {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                margin: 0 10% 0 10%;
            }

            .saisons h2 {
                text-align: center;
                font-size: 50px;
                width: 100%;
                margin-top: 70px;
                margin-bottom: 15px;
            }

            .saisons .btn {
                font-size: 40px;
            }

            .episodes {
                margin: 0 10% 0 10%;
            }

            .episodes h2 {
                text-align: center;
                font-size: 50px;
                width: 100%;
                margin-bottom: 15px;
            }

            .episodes .btn {
                font-size: 39px;
                margin-bottom: 20px;
            }

            .episodes li .btn {
                width: 80px;
                height: 80px;
            }

            .episodes li {
                font-size: 35px !important;
            }
        
            .ecart h2 {
                font-size: 50px;
                text-align: center;
            }

            .rating {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .rating textarea {
                font-size: 35px;
                height: 150px;
            }

            .rating select {
                display: block;
                text-align: center;
                font-size: 2em;
                width: 100%;
                height: 2em;
            }

            .rating input {
                font-size: 35px;
            }

            .btn .btn-secondary .btn-lg {
            }

            .retour {
                display: flex;
                width: 100%;
            }

            .retour a {
                width: 100%;
                font-size: 40px;
            } 






        }





        *{
            color: white;
        }

        .rating {
            color: black;
        }

        .contain{
            margin-left: 5%;
            margin-right: 5%;
            padding: 15px;
            padding-top: 5px;
            padding-bottom: 15px;
            border-radius: 5px;
            background-color: rgba(0,0,0,0.5);
            display: flex;
            flex-direction: column;
        }

        h1 {
            color: white;
            margin: 30px;
        }
        
        .ecart {
            margin-left : 30px;
        }

        img{
            width: 300px;
            height: 400px;
        }

        .ajout-avis{
            display: flex;  
        }

        #form-avis{
            text-align: center;
            padding: 25px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 5px;
            width: 40vh;
            background-color: rgba(23, 162, 184, 0.2);
        }
        
        #texte-ajout-avis{
            resize: none;
        }

        #form-avis textarea, #form-avis select{
            color: black;
            margin-bottom: 20px;
        }

        .container-avis-case{
            padding: 25px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 5px;
            background-color: rgba(90, 90, 90, 0.8);
            margin: 10px;
        }

        .container-avis-case p{
            padding: 15px;
            border-radius: 10px;
            border: 1px solid grey;
            background-color: rgba(95, 95, 95, 0.8);
        }

        .container-avis {
            display: flex;
            flex-wrap: wrap;
        }

        .container-avis>* {
            flex: 1 1 40vh;
        }

        .container-avis-case a{
            text-decoration: none;
            color: white;
            transition: 0.5s;
        }

        .container-avis-case a:hover{
            color: rgb(23, 162, 184);
            transition: 0.5s;
        }

        .saisons {
            margin-top: 30px;
        }

        .episodes {
            margin-bottom: 30px;
        }

        .btn {
            margin-bottom: 15px;
            margin-right: 10px;
        }


        
    </style>

    <div class="contain">
        {% set somme = 0 %}
        {% set total = 0 %}
        
        {% for rating in ratings %}
            {% set somme = somme + rating.value %}
            {% set total = total + 1 %}
        {% endfor %}

        {% if total != 0 %}
            {% set somme = somme / total %}
        {% endif %}

        <h1> {{ somme }} </h1>

        <h1>{{ series.title }}</h1>
        {% if app.user %}
        {% if app.user.admin =='Yes' %}
            <a href="{{ path('app_series_edit', {seriesId : series.id})}}">editer</a>
        {% endif %}
        {% endif %}
        <div class="ecart">
            <p> Série • 
            {% for genre in series.genre %} 
                {{ genre.name }} 
            {% endfor %} 
            • <a href="https://www.imdb.com/title/{{series.imdb}}">Page officielle</a>
            • {{ series.yearStart }} 
            {% if series.YearEnd is not null %} 
                - {{ series.YearEnd }} 
            {% endif %} 
            • {{ series.awards }}
            </p>
            <div class="media">
                <img src={{path('app_accueil_poster',{'id':series.id})}}>
                
                {% set youtubeLink = series.YoutubeTrailer|split('v=') %}
                        <iframe width="100%" height="400" src= "https://www.youtube.com/embed/{{youtubeLink[1]}}" title="YouTube" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-left: 25px;"></iframe>
            </div>

            <br>

            <div class="description">
                {{ series.plot }}
            </div>
            
            <br>

            <div class="follow">
                    {% if app.user %}
                    {% set value = "suppr" %}
                    {% if series in app.user.series %}
                        {% set value = "suivre" %}
                    
                        <a href={{"/series/suppr/#{series.id}/#{currentSeason.number}"}} class="btn btn-danger btn-lg" role="button" aria-disabled="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8.49 10.92C19.412 3.382 11.28-2.387 8 .986 4.719-2.387-3.413 3.382 7.51 10.92l-.234.468a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2.376 2.376 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.235-.468ZM6.726 1.269c-1.167-.61-2.8-.142-3.454 1.135-.237.463-.36 1.08-.202 1.85.055.27.467.197.527-.071.285-1.256 1.177-2.462 2.989-2.528.234-.008.348-.278.14-.386Z"/>
                            </svg>
                            Arrêter de suivre
                        </a>
                        
                    {% endif %}
                    {% if value == "suppr" %}   
                        <a href={{"/series/suivre/#{series.id}/#{currentSeason.number}"}} class="btn btn-success btn-lg" role="button" aria-disabled="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="m8 2.42-.717-.737c-1.13-1.161-3.243-.777-4.01.72-.35.685-.451 1.707.236 3.062C4.16 6.753 5.52 8.32 8 10.042c2.479-1.723 3.839-3.29 4.491-4.577.687-1.355.587-2.377.236-3.061-.767-1.498-2.88-1.882-4.01-.721L8 2.42Zm-.49 8.5c-10.78-7.44-3-13.155.359-10.063.045.041.089.084.132.129.043-.045.087-.088.132-.129 3.36-3.092 11.137 2.624.357 10.063l.235.468a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3.177 3.177 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.235-.468ZM6.013 2.06c-.649-.18-1.483.083-1.85.798-.131.258-.245.689-.08 1.335.063.244.414.198.487-.043.21-.697.627-1.447 1.359-1.692.217-.073.304-.337.084-.398Z"/></svg>
                            Suivre
                        </a>
                    {% endif %}
                {% else %}
                    <a href="" class="btn btn-success btn-lg" role="button" aria-disabled="true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="m8 2.42-.717-.737c-1.13-1.161-3.243-.777-4.01.72-.35.685-.451 1.707.236 3.062C4.16 6.753 5.52 8.32 8 10.042c2.479-1.723 3.839-3.29 4.491-4.577.687-1.355.587-2.377.236-3.061-.767-1.498-2.88-1.882-4.01-.721L8 2.42Zm-.49 8.5c-10.78-7.44-3-13.155.359-10.063.045.041.089.084.132.129.043-.045.087-.088.132-.129 3.36-3.092 11.137 2.624.357 10.063l.235.468a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3.177 3.177 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.235-.468ZM6.013 2.06c-.649-.18-1.483.083-1.85.798-.131.258-.245.689-.08 1.335.063.244.414.198.487-.043.21-.697.627-1.447 1.359-1.692.217-.073.304-.337.084-.398Z"/></svg>
                        Vous devez être connecté !
                    </a>
                {% endif %}
            </div>

            <br>

            {% set i = 0 %}
            {% for user in series.user %}
                {% set i = i + 1 %}
            {% endfor %}

            {% if i < 1 %}
                <h4> Aucun utilisateur ne suit cette série actuellement</h4>
            {% elseif i == 1 %}
                <h4> <b>1</b> utilisateur suit actuellement cette série</h4>
            {% else %}
                <h4> {{i}} utilisateurs suivent actuellement cette série </h4>
            {% endif %}

            <br>


            <div class="saisons">
                <h2> Saisons </h2>
                
                    {% for seasons in seasons %}
                        {% if currentSeason.getId != seasons.getNumber %}
                            <a href="{{ path('app_series_show', {id : series.id, season : seasons.number})}}" class="btn btn-secondary btn-lg" role="button">
                                {{ seasons.number }}
                            </a>
                        {% else %}
                            <a href="{{ path('app_series_show', {id : series.id, season : seasons.number})}}" class="btn btn-danger btn-lg" role="button">
                                {{ seasons.number }}
                            </a>
                        {% endif %}
                    {% endfor %}                
            </div>
            <br>
            <br>

            <div class="episodes">
                <h2> Episodes </h2>
                <a href={{"/series/vu/#{series.id}/#{currentSeason.id}"}} class="btn btn-info btn-lg" role="button" aria-disabled="true">
                    Marquer tous les épisodes comme lu
                </a>
                <ol>  
                    {% for episodes in episode %}
                        <li style="margin: 5px;">
                        {% if app.user %}
                            {% set value = "aVoir" %}
                            {% if episodes in app.user.episode %}
                                {% set value = "vu" %}
                            
                                <a href={{"/series/aVoir/#{episodes.id}/#{series.id}/#{currentSeason.id}"}} class="btn btn-danger btn-lg" role="button" aria-disabled="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                    </svg>
                                </a>
                                
                            {% endif %}
                            {% if value == "aVoir" %}   
                                <a href={{"/series/vu/#{episodes.id}/#{series.id}/#{currentSeason.id}"}} class="btn btn-success btn-lg" role="button" aria-disabled="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                    </svg>
                                </a>
                            {% endif %}
                        {% else %}
                            <a href="" class="btn btn-success btn-lg" role="button" aria-disabled="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                </svg>
                            </a>
                        {% endif %}
                        {{ episodes.title }}
                        </li>
                    {% endfor %}
                    
                </ol>  
            </div>
            {% if app.user %}
            <h2 class="avis"> Ajouter un avis </h2>
            <div class="ajout-avis">
                <form id="form-avis"action={{path('app_rating_new')}} method="POST" class="rating">
                    <textarea class="form-control" id="texte-ajout-avis" placeholder="Très belle série ..." maxlength="600" name="text"></textarea>
                    <select class="form-control" id="note" name="note">
                        <option value=0>0</option>
                        <option value=0.5>0.5</option>
                        <option value=1>1</option>
                        <option value=1.5>1.5</option>
                        <option value=2>2</option>
                        <option value=2.5>2.5</option>
                        <option value=3>3</option>
                        <option value=3.5>3.5</option>
                        <option value=4>4</option>
                        <option value=4.5>4.5</option>
                        <option value=5>5</option>
                    </select>
                    <input type="text" value={{app.user.id}} name="user" hidden=true>
                    <input type="text" value={{series.id}} name="series" hidden=true>
                    <input class="btn btn-info btn-lg" role="button" aria-disabled="true" type="submit" value="Ajouter" style="color: white;">
                </form>
            </div>
            {% endif %}
            <br>

            <h2> Avis des utilisateurs sur "{{series.title}}" </h2>
            <div class="avis">
                <div class="container-avis">
                    {% for rating in ratings %}
                        <div class="container-avis-case">
                            <h4>
                                <a href="{{ path('app_user_ficheUtilisateur', {'userID': rating.user.id}) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                    </svg>
                                    {{ rating.user.name }}
                                </a>
                            </h4>
                            <h4>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                                {{ rating.value }}
                            </h4>
                            <div style="font-size : 15px; margin-bottom: 10px;">{{ rating.date|date('d/m/Y à H:m')}}</div>
                            
                            <p>{{ rating.comment }}</p>
                            
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        
        <div class="retour">
            {% if app.user %}
                <a href="javascript:history.back()" class="btn btn-secondary btn-lg" role="button" aria-disabled="true" style="margin-top: 1vh;">Retour</a>
            {% else %}
                <a href="javascript:history.back()" class="btn btn-secondary btn-lg" role="button" aria-disabled="true" style="margin-top: 1vh;">Retour</a>
            {% endif %}
        </div>
        

        

    </div>
{% endblock %}
