{% extends 'base.html.twig' %}
{% block body %}

    <style>
        *{
            color: white;
        }

        .contain{
            margin-left: 5%;
            margin-right: 5%;
            padding: 15px;
            padding-top: 5px;
            padding-bottom: 15px;
            border-radius: 5px;
            background-color: rgba(0,0,0,0.5);
        }
        
        .profil-info{
            margin-bottom: 30px;
        }

        .profil{
            margin: 30px;
        }
        
        img{
            width: 180px;
            height: 250px;
            margin: 10px;
            transition: 0.5s;
        }

        img:hover{
            width: 200px;
            height: 270px;
            margin: 10px;
            transition: 0.5s;
        }

        #mon-profil-clr{
            color: #c82333;
        }
            
        #mon-profil-clr:hover{
            font-weight: bold;
        }

        .btn {
            margin-top: 10px;
            font-size: 15px;
        }

        .container-avis-case{
            padding: 25px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 5px;
            background-color: rgba(90, 90, 90, 0.8);
            margin: 10px;
        }

        .container-avis-case p{
            padding: 15px;
            border-radius: 10px;
            border: 1px solid grey;
            background-color: rgba(95, 95, 95, 0.8);
        }

        .container-avis {
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;
        }

        .container-avis>* {
            flex: 1 1 40vh;
        }

        .container-avis-case a{
            text-decoration: none;
            color: white;
            transition: 0.5s;
        }

        .container-avis-case a:hover{
            color: rgb(23, 162, 184);
            transition: 0.5s;
        }


    </style>
    <div class="contain">
        <div class="profil">
            <div class="profil-info">
            <h1>Profil : {{ user.name }}</h1>
            <h6>{{ user.email }} | {{ user.country }} </h6>
            <h6>Inscrit depuis : {{ user.registerDate|date('d/m/Y') }}</h6>
            <a href="{{path('app_user_edit',{'userID': user.id})}}" class="btn btn-secondary btn-lg" role="button">Éditer mon profil</a>
            <a href="{{path('app_mdp_edit',{'userID': user.id})}}" class="btn btn-secondary btn-lg" role="button">Nouveau mot de passe</a>
            </div>


            {% set i = 0 %}
            {% for serie in user.series %}
                {% set i = i + 1 %}
            {% endfor %}

            {% if i < 1 %}
                <h2>
                <a href="{{ path('app_series_index', {'userID' : app.user})}}">Partir à la découverte de nouvelle série
                </h2>
            {% elseif i == 1 %}
                <h2>Série suivie</h2>
            {% else %}
                <h2>Séries suivies</h2>
            {% endif %}


            <!--<h2>Séries suivies</h2>-->
            
            {% for series in user.series %}
                <a href="{{ path('app_series_show', {'id': series.id, 'season': '1'}) }}">{{series.showPoster}}</a>
            {% endfor %}

            <div class="container-avis">
                    {% for rating in mesAvis %}
                        <div class="container-avis-case">
                            <h4>
                                <a href="{{ path('app_series_show', {'id': rating.series.id, 'season': '1'}) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                                        <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                                    </svg>
                                    {{ rating.series.title }}
                                </a>
                            </h4>
                            <h4>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                                {{ rating.value }}
                            </h4>
                            <div style="font-size : 15px; margin-bottom: 10px;">{{ rating.date|date('d/m/Y à H:m')}}</div>
                            
                            <p>{{ rating.comment }}</p>
                            
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </contain>
{% endblock %}