{% extends 'base.html.twig' %}
{% block body %}

    <style>
        *{
            color: white;
        }

        .contain{
            margin-left: 5%;
            margin-right: 5%;
            padding: 15px;
            padding-top: 5px;
            padding-bottom: 15px;
            border-radius: 5px;
            background-color: rgba(0,0,0,0.5);
        }
        
        .profil-info{
            margin-bottom: 30px;
        }

        .profil{
            margin: 30px;
        }
        
        img{
            width: 180px;
            height: 250px;
            margin: 10px;
            transition: 0.5s;
        }

        img:hover{
            width: 200px;
            height: 270px;
            margin: 10px;
            transition: 0.5s;
        }

        #mon-profil-clr{
            color: #c82333;
        }
            
        #mon-profil-clr:hover{
            font-weight: bold;
        }
    </style>
    <div class="contain">
        <div class="profil">
            <div class="profil-info">
            <h1>Profil : {{ user.name }}</h1>
            <h6>{{ user.email }} | {{ user.country }} </h6>
            <h6>Inscrit depuis : {{ user.registerDate|date('d/m/Y') }}</h6>
            <a href="{{path('app_user_edit',{'userID': user.id})}}">Editer mon profil</a>
            <a href="{{path('app_mdp_edit',{'userID': user.id})}}">Nouveau mot de passe</a>
            </div>
            


            <h2>Séries suivies</h2>
            
            {% for series in user.series %}
                <a href="{{ path('app_series_show', {'id': series.id, 'season': '1'}) }}">{{series.showPoster}}</a>
            {% endfor %}

            </div>
        </div>
    </contain>
{% endblock %}